.button
  transition: all .5s
  width: 140px
  padding: 15px
  border-radius: 3px
  &.green
    background: rgba(10, 180, 100, 1)
    color: #fff
  &.blue
    background: rgba(200, 200, 200, .2)
    border: 2px solid rgba(36, 127, 188, .6)
    color: accent
    &:hover
      background: rgba(36, 127, 188, .5)
      color: #fff
  &.center
    display: inline-block
