.button {
  transition: all 0.5s;
  padding: 15px;
  border-radius: 3px;
}
.button.green {
  background: #0ab464;
  color: #fff;
}
.button.blue {
  background: rgba(200,200,200,0);
  border: 3px solid rgba(36,127,188,0.6);
  color: accent;
}
.button.blue:hover {
  background: rgba(36,127,188,0.5);
  color: #fff;
}
.button.center {
  display: inline-block;
}
.button.large {
  font-size: 20px;
  font-weight: bold;
}
